@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@keyframes floatLogo {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) rotate(8deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
