@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* 🔥 ANIMACIÓN LOGO */
@keyframes floatLogo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
